$positions: 200px 50px -100px -250px;
@import "medium_plus";

$column: 221px;
$wide_column: 300px;

#main, .clear { clear: both; }
.section-latest { position: relative; }
.posts .post, .posts .articles, .posts .twitter-timeline, .section-other .row, .archive .post, .search .post, .single #related, .single #latest, .single .references, .single #other .post { width: $wide_column; }

.section-latest .posts .main { width: 2 * $column + $margin !important; max-width: none; position: absolute; left: $column + $margin; margin: $margin 0; }
.section-latest .posts .right { position: relative; left: 2 * $column + $margin; }
.section-latest .posts .left, .posts .main, .section-other .row { margin-right: $margin; }

.references { position: absolute; bottom: 0; }
.archive, .search {
	.post { margin-left: $margin; }
}

	
h1, .single h2, #nav-below h3 { width: $wide_column; }

