@import "aliases";
@import "widths";

.post, .articles, .category-archive-meta, #author-info, #comments { float: left; }
.posts .post, .posts .articles, .section-other .row, .archive .post, .search .post, .single #related, .single #latest, .single .references, .single #other .post { max-width: none; float: left; margin: $margin 0; padding: 0;}
.posts .twitter-timeline { margin: $margin auto; }

.posts .right { margin-left: $margin; }
.section-other .row .right { margin: $margin 0; }

.single{
	#sidebar, #related { float: right; clear: right; }
	#container { position: relative; } 
	#other .post { margin-left: $margin; }
	#other h2 + .post { margin-left: 0; }
	#article { max-width: none; float: left; margin-right: $margin; padding: 0; }
	.aside { float: right; }
} 

#branding { position: relative; }
#logo { margin: $margin 0 0 0; float: left; }
#searchForm {
	text-align: left; 
	position: absolute;
	bottom: 0;
	right: 0;
}

$categories: feature snippet podcast other;
#access { 
	margin: 0;
	position: relative; 
	float: right; 
	overflow: visible;
	#navList li { line-height: 1.2em; padding: $half_margin 0 $half_margin $extrabig_margin}
	&:after { content: ''; }
	@for $i from 1 to 5 {
		$category: nth($categories, $i);
		$position: nth($positions, $i);
		.#{$category} { 
			background: url(../images/nav_#{$category}.png) no-repeat 0 -40px; 
			position: absolute; 
			top: 0; 
			right: #{$position}; 
			width: 400px;
			&:hover { background: url(../images/nav_#{$category}.png) no-repeat 0 0; }
		}
	}
}

#nav-below .nav-previous { float: left; }
#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }

.bleed-switch img { left: 0; top: 0; }

h1, .single h2, #nav-below h3 { max-width: none; margin: $margin 0; }

div.alignleft, div.alignright, div.aligncenter, .thumbnail-caption {
	img { width: auto; }
}
