@import "large_plus";

#page { width: 4 * $wide_column + 3 * $margin; max-width: none; margin: 0 auto; padding: 0 $margin; }
#sections, .section-other { width: 3 * $wide_column + 2 * $margin; float: left; }
.section-podcast { float:right; width: $column; }
.posts .articles .twitter-timeline { width: $column; }
.section-latest .posts .post, .section-podcast .posts .post, .section-podcast .posts .articles { width: $column; max-width: none; }
.section-podcast .posts {
    .post, .articles, .twitter-timeline { margin-left: 0; margin-right: $margin; }
}
.single {
	#article { width: 2 * $wide_column; }
	.aside { width: $wide_column; }
}
.archive, .search {
	.clear4 { clear:left; margin-left: 0; }
}

div.alignleft, div.alignright, div.aligncenter {
	width: 2 * $wide_column;
	img { width: 1.5 * $wide_column; float: left; }
	&:after { right: 0.5 * $wide_column; }
}

.bleed-switch2 { img { left: 0; top: 0; } }
