@import "large_plus";

#page { width: 3 * $wide_column + 2 * $margin; max-width: none; margin: 0 auto; padding: 0 $margin; }
.section-latest .posts .post, .single #related,  .single #latest, .single .references, .single #other .post { width: $column; max-width: none; }
.single {
	#article { width: 2 * $column; }
	.aside { width: $column; }
}
.archive, .search {
	.clear3 { clear:left; margin-left: 0; }
}

div.alignleft, div.alignright, div.aligncenter {
	width: 2 * $column;
	img { width: 1.5 * $column; float: left; }
	&:after { right: 0.5 * $column; }
}
