@import "aliases";
@import "colours";
@import "widths";

body, html { 
	font-family: "Franklin Gothic Book",
		"Franklin Gothic Medium",
		"Franklin Gothic",
		"ITC Franklin Gothic",
		"ITC Franklin Gothic Std",
		TradeGothic,
		"News Gothic MT",
		"URW Gothic L",
		Arial,
		sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, #access #navList a {
  font-size: 16px;
  font-weight: bold;
  a { color: black; }
}

sub { vertical-align: bottom; }
sup { vertical-align: top; }

.section-link { clear:both; float: right; }
h1, .section-link { font-size: 24px; margin-bottom: $margin; }
h3 { font-size: 18px; text-align: center; margin-bottom: $half_margin; text-transform: uppercase; }
#colophon { clear: both; }
#site-generator { margin: $margin 0; float: right; }
.wp-caption p { font-weight: bold; }
.wp-caption p, .references, .small-references { font-size: 11px; }
.references, .small-references { 
	br { margin-bottom: $half_margin; }
}
.comment { margin: $margin 0; }
.comment-content { margin: $half_margin 0; }


.entry-content { line-height: $big_margin; }
.entry-content, .category-archive-meta, #author-info { 
	br, ul.longlist li { 
            margin-bottom: $margin; 
        }
	p, ul { 
            margin-bottom: $margin; 
            margin-top: $margin; 
        }
}
.entry-header { text-transform: uppercase; text-align: center; margin-bottom: $margin; }
.single #content .entry-header { text-transform: none; text-align: left; }

#access a, h1, .single h2, .archive #nav-below h3, .search #nav-below h3 { 
	color: white;
	a { color: white; } 
}
a { text-decoration: none; }

ul.blank li { list-style: none inside none; }

@mixin link{ 
	text-decoration: none; 
	color: #000000; 
	font-weight: bold; 
	border-bottom: 1px dotted;
	
	&:hover { color: #ffffff; } 
}

#logo { background: nth($normals, 1); width: 212px; height: 99px; padding: 0; max-width: none; }
#logo img { z-index: 0 !important; }
.home #searchForm a { 
	@include link;
	border-color: nth($normals, 1);
	&:hover { background-color: nth($normals, 1); }
	&:after { content: url(../images/arrow_feature.png); }
	&:hover:after{ content: url(../images/arrow_hover.png); }
}

#access {
	position: relative; 
	overflow-y: hidden; 
	&:after { content: url(../images/cap_right.png); position: absolute; top: 0; right: 0; }
}

dt { float: left; margin-right: $half_margin; font-weight: bold; }
dd { margin-bottom: $margin; }

@for $i from 1 to 6 {
	$category: nth($categories, $i);
	$normal: nth($normals, $i);
	$dark: nth($darks, $i);
	$light: nth($lights, $i);
	
	.section-#{$category}, .category-#{$category}, .parent-#{$category} {
		.aside { background-color: #{$light}; }
		.wp-caption, .thumbnail-caption {
			background-color: #{$light};
			&:before, &:after { content: url(../images/img_#{$category}.png); }
			p { z-index: 1; position: relative; } 
		}
	}

	.section-#{$category}, .category-#{$category}, .parent-#{$category}, .single-#{$category} .notes-external_link, .single-#{$category} .entry-content {
		li { list-style: url(../images/bullet_#{$category}.png) inside; }
        }
	
	.section-#{$category}, .category-#{$category}, .parent-#{$category}, .single-#{$category} {
		a.link, .link-container a[href] {
			@include link;
			border-color: #{$normal};
			&:hover { background-color: #{$normal}; }
			&:after { content: url(../images/arrow_#{$category}.png); white-space: nowrap; padding-left: $inner; }
			&:hover:after{ content: url(../images/arrow_hover.png); }
		}
		a.link-back, .link-container-back a[href] {
			@include link;
			border-color: #{$normal};
			&:hover { background-color: #{$normal}; }
			&:before { content: url(../images/arrow_#{$category}_back.png); white-space: nowrap; padding-right: $inner;	}
			&:hover:before{ content: url(../images/arrow_hover_back.png); }
		}
		a.link-down, .link-container-down a[href] {
			@include link;
			border-color: #{$normal};
			&:hover { background-color: #{$normal}; }
			&:after { content: url(../images/arrow_#{$category}_down.png); white-space: nowrap; padding-left: $inner; }
			&:hover:after{ content: url(../images/arrow_hover_down.png); }
		}
	}
	
	.section-#{$category}, .category-#{$category}, .parent-#{$category}, .single-#{$category} {
		#logo { background: $normal; }
	}

	
	#access .#{$category} { 
		background: #{$dark}; 
		&:hover { background: #{$normal}; }
	}
}

.single, .section, .archive, .error404, .search {
	h1, h2, #nav-below h3 { 
		position: relative;
		img { 
			position: absolute !important; 
			height: 100% !important; 
			max-height: none !important; 
			max-width: none !important; 
			z-index: -1; 
		}
	}
}
#article .post { float: none; }
#author-avatar img { float: right; }
	
table td {padding: 0 3px; }
.infoDisplay td + td { text-align: right; }
	
.bleed-right img { left: 0; top: 0; }
.bleed-left, .bleed-switch, .bleed-switch2 {
	 img { right: 0; top: 0; }
}

.aside { padding: $half_margin; margin: $half_margin; }
.addthis_toolbox { float: right; }
.licence { clear: both; padding-top: $margin; }
#searchForm { 
	text-align: center; 
	form { margin-top: $margin; }
	label { display: none; }
}

/* Stuff for the 1 column layout that will mostly get overwritten */
.extract img { max-width: 100%; height: auto; } 
#page { max-width: 454px; margin: 0 auto; padding: 0 $margin; }
#nav-below div { text-align: center; }
.entry-thumbnail { text-align: center; margin-bottom: $margin; }
#access { max-width: 227px; margin: $margin auto; }
#access a { display: block; width:100%; }
#access li, h1, .single h2, #nav-below h3 { padding: $inner $big_margin $inner $half_margin; }
h1, .single h2, #nav-below h3 { max-width: 202px; margin: $margin auto; }
.post, .articles, .twitter-timeline { margin: $margin auto; } 
.twitter-timeline { display: block; } 
#logo { margin: $margin auto; }
.single #content .post, #author-avatar {
	img { max-width: 100%; height: auto; margin: auto; display: block; }
}
.wp-caption, .thumbnail-caption { 
	margin: auto; 
	position: relative; 
	overflow: hidden; 
	line-height: 0; 
	max-width: 100%; 
	height: auto;
	
	img { width: 100%; }
	p, br { line-height: $big_margin; margin: 0; padding: $inner; }
	&:before { position: absolute; left: 0; top: 0; }
	&:after{ position: absolute; right: 0; top: 0; }
}
.notes-external_link { line-height: $big_margin; margin: 0; padding: $inner; }
.thumbnail-caption { display: inline-block; }
label { display: block; }
