@import "widths";
@import "aliases";

$column: 213px;

#page { width: 2 * $column + $margin; max-width: none; margin: 0 auto; padding: 0 $margin; }
.post, .articles, .category-archive-meta, #author-info, #comments { float: left; }
.main img { float: left; margin-right: $margin; }
.posts, .archive, .search, #latest, #other {
	.post, .articles { width: $column; max-width: none; margin: $margin 0; padding: 0; }
	.twitter-timeline { width: 2 * $column + $margin; max-width: none; margin: $margin auto; padding: 0; }
	.main { width: 2 * $column + $margin; }
	.left { margin-right: $margin; }
	.clear2 { clear: left; margin-right: $margin; }
}
.row, .clear { clear:both; }

#logo { margin: $margin 0; float: left; }
#searchForm { clear: both; text-align: left; }

h1, .single h2, #nav-below h3 { width: $column; max-width: none; margin: $margin 0; }
#nav-below .nav-previous { float: left; }
#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }

#access { 
	margin: 0 auto; 
	width: 150px; 
	position: relative;
	float: right;
	overflow-y: visible;
	&:before { content: url(../images/cap_left.png); position: absolute; bottom: 0; left: 0; }
	&:after { content: ""; }
	li { 
		padding: 0;
		a { 
			position: relative; 
			left: 30px; 
			background-color: inherit; 
			padding: $inner 0;
			&:after { content: ""; position: absolute; width:1000px; height: 100%; z-index: -1; background-color: inherit; left: 50px; top: 0; }
		}
	}
}
