.post, .articles, .category-archive-meta, #author-info, #comments { float: left; }

.posts .post, .posts .articles, .section-other .row, .section-study .row, .section-announcement .row, .section-event .row, .archive .post, .search .post, .single #related, .page #related, .single #latest, .page #latest, .single .references, .page .references, .single #other .post, .page #other .post { max-width: none; float: left; margin: 14px 0; padding: 0; }

.posts .twitter-timeline { margin: 14px auto; }

.posts .right { margin-left: 14px; }

.section-other .row .right, .section-study .row .right, .section-announcement .row .right, .section-event .row .right { margin: 14px 0; }

.single #sidebar, .page #sidebar, .single #related, .page #related { float: right; clear: right; }
.single #container, .page #container { position: relative; }
.single #other .post, .page #other .post { margin-left: 14px; }
.single #other h2 + .post, .page #other h2 + .post { margin-left: 0; }
.single #article, .page #article { max-width: none; float: left; margin-right: 14px; padding: 0; }
.single .aside, .page .aside { float: right; }

#branding { position: relative; }

#logo { margin: 14px 0 0 0; float: left; }

#searchForm { text-align: left; position: absolute; bottom: 0; right: 0; }

#access { margin: 0; position: relative; float: right; overflow: visible; }
#access #navList li { line-height: 1.2em; padding: 7px 0 7px 28px; }
#access:after { content: ''; }
#access .feature { background: url(../images/nav_feature.png) no-repeat 0 -40px; position: absolute; top: 0; right: 200px; width: 400px; }
#access .feature:hover { background: url(../images/nav_feature.png) no-repeat 0 0; }
#access .snippet { background: url(../images/nav_snippet.png) no-repeat 0 -40px; position: absolute; top: 0; right: 50px; width: 400px; }
#access .snippet:hover { background: url(../images/nav_snippet.png) no-repeat 0 0; }
#access .podcast { background: url(../images/nav_podcast.png) no-repeat 0 -40px; position: absolute; top: 0; right: -100px; width: 400px; }
#access .podcast:hover { background: url(../images/nav_podcast.png) no-repeat 0 0; }
#access .other, #access .study, #access .announcement, #access .event { background: url(../images/nav_other.png) no-repeat 0 -40px; position: absolute; top: 0; right: -250px; width: 400px; }
#access .other:hover, #access .study:hover, #access .announcement:hover, #access .event:hover { background: url(../images/nav_other.png) no-repeat 0 0; }

#nav-below .nav-previous { float: left; }

#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }

.bleed-switch img { left: 0; top: 0; }

h1, .single h2, .page h2, #nav-below h3 { max-width: none; margin: 14px 0; }

div.alignleft img, div.alignright img, div.aligncenter img, .thumbnail-caption img { width: auto; }

#main, .clear { clear: both; }

.section-latest { position: relative; }

.posts .post, .posts .articles, .posts .twitter-timeline, .section-other .row, .section-study .row, .section-announcement .row, .section-event .row, .archive .post, .search .post, .single #related, .page #related, .single #latest, .page #latest, .single .references, .page .references, .single #other .post, .page #other .post { width: 300px; }

.section-latest .posts .main { width: 456px !important; max-width: none; position: absolute; left: 235px; margin: 14px 0; }

.section-latest .posts .right { position: relative; left: 456px; }

.section-latest .posts .left, .posts .main, .section-other .row, .section-study .row, .section-announcement .row, .section-event .row { margin-right: 14px; }

.references { position: absolute; bottom: 0; }

.archive .post, .search .post { margin-left: 14px; }

h1, .single h2, .page h2, #nav-below h3 { width: 300px; }

#page { width: 1242px; max-width: none; margin: 0 auto; padding: 0 14px; }

#sections, .section-other, .section-study, .section-announcement, .section-event { width: 928px; float: left; }

.section-podcast { float: right; width: 221px; }

.posts .articles .twitter-timeline { width: 221px; }

.section-latest .posts .post, .section-podcast .posts .post, .section-podcast .posts .articles { width: 221px; max-width: none; }

.section-podcast .posts .post, .section-podcast .posts .articles, .section-podcast .posts .twitter-timeline { margin-left: 0; margin-right: 14px; }

.single #article, .page #article { width: 600px; }
.single .aside, .page .aside { width: 300px; }

.archive .clear4, .search .clear4 { clear: left; margin-left: 0; }

div.alignleft, div.alignright, div.aligncenter { width: 600px; }
div.alignleft img, div.alignright img, div.aligncenter img { width: 450px; float: left; }
div.alignleft:after, div.alignright:after, div.aligncenter:after { right: 150px; }

.bleed-switch2 img { left: 0; top: 0; }
