body, html { font-family: "Franklin Gothic Book", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "ITC Franklin Gothic Std", TradeGothic, "News Gothic MT", "URW Gothic L", Arial, sans-serif; font-size: 13px; overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, #access #navList a { font-size: 16px; font-weight: bold; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, #access #navList a a { color: black; }

sub { vertical-align: bottom; }

sup { vertical-align: top; }

.section-link { clear: both; float: right; }

h1, .section-link { font-size: 24px; margin-bottom: 14px; }

h3 { font-size: 18px; text-align: center; margin-bottom: 7px; text-transform: uppercase; }

#colophon { clear: both; }

#site-generator { margin: 14px 0; float: right; }

.wp-caption p { font-weight: bold; }

.wp-caption p, .references, .small-references { font-size: 11px; }

.references br, .small-references br { margin-bottom: 7px; }

.comment { margin: 14px 0; }

.comment-content { margin: 7px 0; }

.entry-content { line-height: 21px; }

.entry-content br, .entry-content ul.longlist li, .category-archive-meta br, .category-archive-meta ul.longlist li, #author-info br, #author-info ul.longlist li { margin-bottom: 14px; }
.entry-content p, .entry-content ul, .category-archive-meta p, .category-archive-meta ul, #author-info p, #author-info ul { margin-bottom: 14px; margin-top: 14px; }

.entry-header { text-transform: uppercase; text-align: center; margin-bottom: 14px; }

.single #content .entry-header, .page #content .entry-header { text-transform: none; text-align: left; }

#access a, h1, .single h2, .page h2, .archive #nav-below h3, .search #nav-below h3 { color: white; }
#access a a, h1 a, .single h2 a, .page h2 a, .archive #nav-below h3 a, .search #nav-below h3 a { color: white; }

a { text-decoration: none; }

ul.blank li { list-style: none inside none; }

#logo { background: #580ead; width: 212px; height: 99px; padding: 0; max-width: none; }

#logo img { z-index: 0 !important; }

.home #searchForm a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #580ead; }
.home #searchForm a:hover { color: #ffffff; }
.home #searchForm a:hover { background-color: #580ead; }
.home #searchForm a:after { content: url(../images/arrow_feature.png); }
.home #searchForm a:hover:after { content: url(../images/arrow_hover.png); }

#access { position: relative; overflow-y: hidden; }
#access:after { content: url(../images/cap_right.png); position: absolute; top: 0; right: 0; }

dt { float: left; margin-right: 7px; font-weight: bold; }

dd { margin-bottom: 14px; }

.section-latest .aside, .category-latest .aside, .parent-latest .aside { background-color: #9c6ad6; }
.section-latest .wp-caption, .section-latest .thumbnail-caption, .category-latest .wp-caption, .category-latest .thumbnail-caption, .parent-latest .wp-caption, .parent-latest .thumbnail-caption { background-color: #9c6ad6; }
.section-latest .wp-caption:before, .section-latest .wp-caption:after, .section-latest .thumbnail-caption:before, .section-latest .thumbnail-caption:after, .category-latest .wp-caption:before, .category-latest .wp-caption:after, .category-latest .thumbnail-caption:before, .category-latest .thumbnail-caption:after, .parent-latest .wp-caption:before, .parent-latest .wp-caption:after, .parent-latest .thumbnail-caption:before, .parent-latest .thumbnail-caption:after { content: url(../images/img_latest.png); }
.section-latest .wp-caption p, .section-latest .thumbnail-caption p, .category-latest .wp-caption p, .category-latest .thumbnail-caption p, .parent-latest .wp-caption p, .parent-latest .thumbnail-caption p { z-index: 1; position: relative; }

.section-latest li, .category-latest li, .parent-latest li, .single-latest .notes-external_link li, .single-latest .entry-content li { list-style: url(../images/bullet_latest.png) inside; }

.section-latest a.link, .section-latest .link-container a[href], .category-latest a.link, .category-latest .link-container a[href], .parent-latest a.link, .parent-latest .link-container a[href], .single-latest a.link, .single-latest .link-container a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #580ead; }
.section-latest a.link:hover, .section-latest .link-container a[href]:hover, .category-latest a.link:hover, .category-latest .link-container a[href]:hover, .parent-latest a.link:hover, .parent-latest .link-container a[href]:hover, .single-latest a.link:hover, .single-latest .link-container a[href]:hover { color: #ffffff; }
.section-latest a.link:hover, .section-latest .link-container a[href]:hover, .category-latest a.link:hover, .category-latest .link-container a[href]:hover, .parent-latest a.link:hover, .parent-latest .link-container a[href]:hover, .single-latest a.link:hover, .single-latest .link-container a[href]:hover { background-color: #580ead; }
.section-latest a.link:after, .section-latest .link-container a[href]:after, .category-latest a.link:after, .category-latest .link-container a[href]:after, .parent-latest a.link:after, .parent-latest .link-container a[href]:after, .single-latest a.link:after, .single-latest .link-container a[href]:after { content: url(../images/arrow_latest.png); white-space: nowrap; padding-left: 2px; }
.section-latest a.link:hover:after, .section-latest .link-container a[href]:hover:after, .category-latest a.link:hover:after, .category-latest .link-container a[href]:hover:after, .parent-latest a.link:hover:after, .parent-latest .link-container a[href]:hover:after, .single-latest a.link:hover:after, .single-latest .link-container a[href]:hover:after { content: url(../images/arrow_hover.png); }
.section-latest a.link-back, .section-latest .link-container-back a[href], .category-latest a.link-back, .category-latest .link-container-back a[href], .parent-latest a.link-back, .parent-latest .link-container-back a[href], .single-latest a.link-back, .single-latest .link-container-back a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #580ead; }
.section-latest a.link-back:hover, .section-latest .link-container-back a[href]:hover, .category-latest a.link-back:hover, .category-latest .link-container-back a[href]:hover, .parent-latest a.link-back:hover, .parent-latest .link-container-back a[href]:hover, .single-latest a.link-back:hover, .single-latest .link-container-back a[href]:hover { color: #ffffff; }
.section-latest a.link-back:hover, .section-latest .link-container-back a[href]:hover, .category-latest a.link-back:hover, .category-latest .link-container-back a[href]:hover, .parent-latest a.link-back:hover, .parent-latest .link-container-back a[href]:hover, .single-latest a.link-back:hover, .single-latest .link-container-back a[href]:hover { background-color: #580ead; }
.section-latest a.link-back:before, .section-latest .link-container-back a[href]:before, .category-latest a.link-back:before, .category-latest .link-container-back a[href]:before, .parent-latest a.link-back:before, .parent-latest .link-container-back a[href]:before, .single-latest a.link-back:before, .single-latest .link-container-back a[href]:before { content: url(../images/arrow_latest_back.png); white-space: nowrap; padding-right: 2px; }
.section-latest a.link-back:hover:before, .section-latest .link-container-back a[href]:hover:before, .category-latest a.link-back:hover:before, .category-latest .link-container-back a[href]:hover:before, .parent-latest a.link-back:hover:before, .parent-latest .link-container-back a[href]:hover:before, .single-latest a.link-back:hover:before, .single-latest .link-container-back a[href]:hover:before { content: url(../images/arrow_hover_back.png); }
.section-latest a.link-down, .section-latest .link-container-down a[href], .category-latest a.link-down, .category-latest .link-container-down a[href], .parent-latest a.link-down, .parent-latest .link-container-down a[href], .single-latest a.link-down, .single-latest .link-container-down a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #580ead; }
.section-latest a.link-down:hover, .section-latest .link-container-down a[href]:hover, .category-latest a.link-down:hover, .category-latest .link-container-down a[href]:hover, .parent-latest a.link-down:hover, .parent-latest .link-container-down a[href]:hover, .single-latest a.link-down:hover, .single-latest .link-container-down a[href]:hover { color: #ffffff; }
.section-latest a.link-down:hover, .section-latest .link-container-down a[href]:hover, .category-latest a.link-down:hover, .category-latest .link-container-down a[href]:hover, .parent-latest a.link-down:hover, .parent-latest .link-container-down a[href]:hover, .single-latest a.link-down:hover, .single-latest .link-container-down a[href]:hover { background-color: #580ead; }
.section-latest a.link-down:after, .section-latest .link-container-down a[href]:after, .category-latest a.link-down:after, .category-latest .link-container-down a[href]:after, .parent-latest a.link-down:after, .parent-latest .link-container-down a[href]:after, .single-latest a.link-down:after, .single-latest .link-container-down a[href]:after { content: url(../images/arrow_latest_down.png); white-space: nowrap; padding-left: 2px; }
.section-latest a.link-down:hover:after, .section-latest .link-container-down a[href]:hover:after, .category-latest a.link-down:hover:after, .category-latest .link-container-down a[href]:hover:after, .parent-latest a.link-down:hover:after, .parent-latest .link-container-down a[href]:hover:after, .single-latest a.link-down:hover:after, .single-latest .link-container-down a[href]:hover:after { content: url(../images/arrow_hover_down.png); }

.section-latest #logo, .category-latest #logo, .parent-latest #logo, .single-latest #logo { background: #580ead; }

#access .latest { background: #370470; }
#access .latest:hover { background: #580ead; }

.section-feature .aside, .category-feature .aside, .parent-feature .aside { background-color: #689bd3; }
.section-feature .wp-caption, .section-feature .thumbnail-caption, .category-feature .wp-caption, .category-feature .thumbnail-caption, .parent-feature .wp-caption, .parent-feature .thumbnail-caption { background-color: #689bd3; }
.section-feature .wp-caption:before, .section-feature .wp-caption:after, .section-feature .thumbnail-caption:before, .section-feature .thumbnail-caption:after, .category-feature .wp-caption:before, .category-feature .wp-caption:after, .category-feature .thumbnail-caption:before, .category-feature .thumbnail-caption:after, .parent-feature .wp-caption:before, .parent-feature .wp-caption:after, .parent-feature .thumbnail-caption:before, .parent-feature .thumbnail-caption:after { content: url(../images/img_feature.png); }
.section-feature .wp-caption p, .section-feature .thumbnail-caption p, .category-feature .wp-caption p, .category-feature .thumbnail-caption p, .parent-feature .wp-caption p, .parent-feature .thumbnail-caption p { z-index: 1; position: relative; }

.section-feature li, .category-feature li, .parent-feature li, .single-feature .notes-external_link li, .single-feature .entry-content li { list-style: url(../images/bullet_feature.png) inside; }

.section-feature a.link, .section-feature .link-container a[href], .category-feature a.link, .category-feature .link-container a[href], .parent-feature a.link, .parent-feature .link-container a[href], .single-feature a.link, .single-feature .link-container a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #4186d3; }
.section-feature a.link:hover, .section-feature .link-container a[href]:hover, .category-feature a.link:hover, .category-feature .link-container a[href]:hover, .parent-feature a.link:hover, .parent-feature .link-container a[href]:hover, .single-feature a.link:hover, .single-feature .link-container a[href]:hover { color: #ffffff; }
.section-feature a.link:hover, .section-feature .link-container a[href]:hover, .category-feature a.link:hover, .category-feature .link-container a[href]:hover, .parent-feature a.link:hover, .parent-feature .link-container a[href]:hover, .single-feature a.link:hover, .single-feature .link-container a[href]:hover { background-color: #4186d3; }
.section-feature a.link:after, .section-feature .link-container a[href]:after, .category-feature a.link:after, .category-feature .link-container a[href]:after, .parent-feature a.link:after, .parent-feature .link-container a[href]:after, .single-feature a.link:after, .single-feature .link-container a[href]:after { content: url(../images/arrow_feature.png); white-space: nowrap; padding-left: 2px; }
.section-feature a.link:hover:after, .section-feature .link-container a[href]:hover:after, .category-feature a.link:hover:after, .category-feature .link-container a[href]:hover:after, .parent-feature a.link:hover:after, .parent-feature .link-container a[href]:hover:after, .single-feature a.link:hover:after, .single-feature .link-container a[href]:hover:after { content: url(../images/arrow_hover.png); }
.section-feature a.link-back, .section-feature .link-container-back a[href], .category-feature a.link-back, .category-feature .link-container-back a[href], .parent-feature a.link-back, .parent-feature .link-container-back a[href], .single-feature a.link-back, .single-feature .link-container-back a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #4186d3; }
.section-feature a.link-back:hover, .section-feature .link-container-back a[href]:hover, .category-feature a.link-back:hover, .category-feature .link-container-back a[href]:hover, .parent-feature a.link-back:hover, .parent-feature .link-container-back a[href]:hover, .single-feature a.link-back:hover, .single-feature .link-container-back a[href]:hover { color: #ffffff; }
.section-feature a.link-back:hover, .section-feature .link-container-back a[href]:hover, .category-feature a.link-back:hover, .category-feature .link-container-back a[href]:hover, .parent-feature a.link-back:hover, .parent-feature .link-container-back a[href]:hover, .single-feature a.link-back:hover, .single-feature .link-container-back a[href]:hover { background-color: #4186d3; }
.section-feature a.link-back:before, .section-feature .link-container-back a[href]:before, .category-feature a.link-back:before, .category-feature .link-container-back a[href]:before, .parent-feature a.link-back:before, .parent-feature .link-container-back a[href]:before, .single-feature a.link-back:before, .single-feature .link-container-back a[href]:before { content: url(../images/arrow_feature_back.png); white-space: nowrap; padding-right: 2px; }
.section-feature a.link-back:hover:before, .section-feature .link-container-back a[href]:hover:before, .category-feature a.link-back:hover:before, .category-feature .link-container-back a[href]:hover:before, .parent-feature a.link-back:hover:before, .parent-feature .link-container-back a[href]:hover:before, .single-feature a.link-back:hover:before, .single-feature .link-container-back a[href]:hover:before { content: url(../images/arrow_hover_back.png); }
.section-feature a.link-down, .section-feature .link-container-down a[href], .category-feature a.link-down, .category-feature .link-container-down a[href], .parent-feature a.link-down, .parent-feature .link-container-down a[href], .single-feature a.link-down, .single-feature .link-container-down a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #4186d3; }
.section-feature a.link-down:hover, .section-feature .link-container-down a[href]:hover, .category-feature a.link-down:hover, .category-feature .link-container-down a[href]:hover, .parent-feature a.link-down:hover, .parent-feature .link-container-down a[href]:hover, .single-feature a.link-down:hover, .single-feature .link-container-down a[href]:hover { color: #ffffff; }
.section-feature a.link-down:hover, .section-feature .link-container-down a[href]:hover, .category-feature a.link-down:hover, .category-feature .link-container-down a[href]:hover, .parent-feature a.link-down:hover, .parent-feature .link-container-down a[href]:hover, .single-feature a.link-down:hover, .single-feature .link-container-down a[href]:hover { background-color: #4186d3; }
.section-feature a.link-down:after, .section-feature .link-container-down a[href]:after, .category-feature a.link-down:after, .category-feature .link-container-down a[href]:after, .parent-feature a.link-down:after, .parent-feature .link-container-down a[href]:after, .single-feature a.link-down:after, .single-feature .link-container-down a[href]:after { content: url(../images/arrow_feature_down.png); white-space: nowrap; padding-left: 2px; }
.section-feature a.link-down:hover:after, .section-feature .link-container-down a[href]:hover:after, .category-feature a.link-down:hover:after, .category-feature .link-container-down a[href]:hover:after, .parent-feature a.link-down:hover:after, .parent-feature .link-container-down a[href]:hover:after, .single-feature a.link-down:hover:after, .single-feature .link-container-down a[href]:hover:after { content: url(../images/arrow_hover_down.png); }

.section-feature #logo, .category-feature #logo, .parent-feature #logo, .single-feature #logo { background: #4186d3; }

#access .feature { background: #04366d; }
#access .feature:hover { background: #4186d3; }

.section-snippet .aside, .category-snippet .aside, .parent-snippet .aside { background-color: #d4f870; }
.section-snippet .wp-caption, .section-snippet .thumbnail-caption, .category-snippet .wp-caption, .category-snippet .thumbnail-caption, .parent-snippet .wp-caption, .parent-snippet .thumbnail-caption { background-color: #d4f870; }
.section-snippet .wp-caption:before, .section-snippet .wp-caption:after, .section-snippet .thumbnail-caption:before, .section-snippet .thumbnail-caption:after, .category-snippet .wp-caption:before, .category-snippet .wp-caption:after, .category-snippet .thumbnail-caption:before, .category-snippet .thumbnail-caption:after, .parent-snippet .wp-caption:before, .parent-snippet .wp-caption:after, .parent-snippet .thumbnail-caption:before, .parent-snippet .thumbnail-caption:after { content: url(../images/img_snippet.png); }
.section-snippet .wp-caption p, .section-snippet .thumbnail-caption p, .category-snippet .wp-caption p, .category-snippet .thumbnail-caption p, .parent-snippet .wp-caption p, .parent-snippet .thumbnail-caption p { z-index: 1; position: relative; }

.section-snippet li, .category-snippet li, .parent-snippet li, .single-snippet .notes-external_link li, .single-snippet .entry-content li { list-style: url(../images/bullet_snippet.png) inside; }

.section-snippet a.link, .section-snippet .link-container a[href], .category-snippet a.link, .category-snippet .link-container a[href], .parent-snippet a.link, .parent-snippet .link-container a[href], .single-snippet a.link, .single-snippet .link-container a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #91b52d; }
.section-snippet a.link:hover, .section-snippet .link-container a[href]:hover, .category-snippet a.link:hover, .category-snippet .link-container a[href]:hover, .parent-snippet a.link:hover, .parent-snippet .link-container a[href]:hover, .single-snippet a.link:hover, .single-snippet .link-container a[href]:hover { color: #ffffff; }
.section-snippet a.link:hover, .section-snippet .link-container a[href]:hover, .category-snippet a.link:hover, .category-snippet .link-container a[href]:hover, .parent-snippet a.link:hover, .parent-snippet .link-container a[href]:hover, .single-snippet a.link:hover, .single-snippet .link-container a[href]:hover { background-color: #91b52d; }
.section-snippet a.link:after, .section-snippet .link-container a[href]:after, .category-snippet a.link:after, .category-snippet .link-container a[href]:after, .parent-snippet a.link:after, .parent-snippet .link-container a[href]:after, .single-snippet a.link:after, .single-snippet .link-container a[href]:after { content: url(../images/arrow_snippet.png); white-space: nowrap; padding-left: 2px; }
.section-snippet a.link:hover:after, .section-snippet .link-container a[href]:hover:after, .category-snippet a.link:hover:after, .category-snippet .link-container a[href]:hover:after, .parent-snippet a.link:hover:after, .parent-snippet .link-container a[href]:hover:after, .single-snippet a.link:hover:after, .single-snippet .link-container a[href]:hover:after { content: url(../images/arrow_hover.png); }
.section-snippet a.link-back, .section-snippet .link-container-back a[href], .category-snippet a.link-back, .category-snippet .link-container-back a[href], .parent-snippet a.link-back, .parent-snippet .link-container-back a[href], .single-snippet a.link-back, .single-snippet .link-container-back a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #91b52d; }
.section-snippet a.link-back:hover, .section-snippet .link-container-back a[href]:hover, .category-snippet a.link-back:hover, .category-snippet .link-container-back a[href]:hover, .parent-snippet a.link-back:hover, .parent-snippet .link-container-back a[href]:hover, .single-snippet a.link-back:hover, .single-snippet .link-container-back a[href]:hover { color: #ffffff; }
.section-snippet a.link-back:hover, .section-snippet .link-container-back a[href]:hover, .category-snippet a.link-back:hover, .category-snippet .link-container-back a[href]:hover, .parent-snippet a.link-back:hover, .parent-snippet .link-container-back a[href]:hover, .single-snippet a.link-back:hover, .single-snippet .link-container-back a[href]:hover { background-color: #91b52d; }
.section-snippet a.link-back:before, .section-snippet .link-container-back a[href]:before, .category-snippet a.link-back:before, .category-snippet .link-container-back a[href]:before, .parent-snippet a.link-back:before, .parent-snippet .link-container-back a[href]:before, .single-snippet a.link-back:before, .single-snippet .link-container-back a[href]:before { content: url(../images/arrow_snippet_back.png); white-space: nowrap; padding-right: 2px; }
.section-snippet a.link-back:hover:before, .section-snippet .link-container-back a[href]:hover:before, .category-snippet a.link-back:hover:before, .category-snippet .link-container-back a[href]:hover:before, .parent-snippet a.link-back:hover:before, .parent-snippet .link-container-back a[href]:hover:before, .single-snippet a.link-back:hover:before, .single-snippet .link-container-back a[href]:hover:before { content: url(../images/arrow_hover_back.png); }
.section-snippet a.link-down, .section-snippet .link-container-down a[href], .category-snippet a.link-down, .category-snippet .link-container-down a[href], .parent-snippet a.link-down, .parent-snippet .link-container-down a[href], .single-snippet a.link-down, .single-snippet .link-container-down a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #91b52d; }
.section-snippet a.link-down:hover, .section-snippet .link-container-down a[href]:hover, .category-snippet a.link-down:hover, .category-snippet .link-container-down a[href]:hover, .parent-snippet a.link-down:hover, .parent-snippet .link-container-down a[href]:hover, .single-snippet a.link-down:hover, .single-snippet .link-container-down a[href]:hover { color: #ffffff; }
.section-snippet a.link-down:hover, .section-snippet .link-container-down a[href]:hover, .category-snippet a.link-down:hover, .category-snippet .link-container-down a[href]:hover, .parent-snippet a.link-down:hover, .parent-snippet .link-container-down a[href]:hover, .single-snippet a.link-down:hover, .single-snippet .link-container-down a[href]:hover { background-color: #91b52d; }
.section-snippet a.link-down:after, .section-snippet .link-container-down a[href]:after, .category-snippet a.link-down:after, .category-snippet .link-container-down a[href]:after, .parent-snippet a.link-down:after, .parent-snippet .link-container-down a[href]:after, .single-snippet a.link-down:after, .single-snippet .link-container-down a[href]:after { content: url(../images/arrow_snippet_down.png); white-space: nowrap; padding-left: 2px; }
.section-snippet a.link-down:hover:after, .section-snippet .link-container-down a[href]:hover:after, .category-snippet a.link-down:hover:after, .category-snippet .link-container-down a[href]:hover:after, .parent-snippet a.link-down:hover:after, .parent-snippet .link-container-down a[href]:hover:after, .single-snippet a.link-down:hover:after, .single-snippet .link-container-down a[href]:hover:after { content: url(../images/arrow_hover_down.png); }

.section-snippet #logo, .category-snippet #logo, .parent-snippet #logo, .single-snippet #logo { background: #91b52d; }

#access .snippet { background: #739d00; }
#access .snippet:hover { background: #91b52d; }

.section-podcast .aside, .category-podcast .aside, .parent-podcast .aside { background-color: #ffda73; }
.section-podcast .wp-caption, .section-podcast .thumbnail-caption, .category-podcast .wp-caption, .category-podcast .thumbnail-caption, .parent-podcast .wp-caption, .parent-podcast .thumbnail-caption { background-color: #ffda73; }
.section-podcast .wp-caption:before, .section-podcast .wp-caption:after, .section-podcast .thumbnail-caption:before, .section-podcast .thumbnail-caption:after, .category-podcast .wp-caption:before, .category-podcast .wp-caption:after, .category-podcast .thumbnail-caption:before, .category-podcast .thumbnail-caption:after, .parent-podcast .wp-caption:before, .parent-podcast .wp-caption:after, .parent-podcast .thumbnail-caption:before, .parent-podcast .thumbnail-caption:after { content: url(../images/img_podcast.png); }
.section-podcast .wp-caption p, .section-podcast .thumbnail-caption p, .category-podcast .wp-caption p, .category-podcast .thumbnail-caption p, .parent-podcast .wp-caption p, .parent-podcast .thumbnail-caption p { z-index: 1; position: relative; }

.section-podcast li, .category-podcast li, .parent-podcast li, .single-podcast .notes-external_link li, .single-podcast .entry-content li { list-style: url(../images/bullet_podcast.png) inside; }

.section-podcast a.link, .section-podcast .link-container a[href], .category-podcast a.link, .category-podcast .link-container a[href], .parent-podcast a.link, .parent-podcast .link-container a[href], .single-podcast a.link, .single-podcast .link-container a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #ffbb00; }
.section-podcast a.link:hover, .section-podcast .link-container a[href]:hover, .category-podcast a.link:hover, .category-podcast .link-container a[href]:hover, .parent-podcast a.link:hover, .parent-podcast .link-container a[href]:hover, .single-podcast a.link:hover, .single-podcast .link-container a[href]:hover { color: #ffffff; }
.section-podcast a.link:hover, .section-podcast .link-container a[href]:hover, .category-podcast a.link:hover, .category-podcast .link-container a[href]:hover, .parent-podcast a.link:hover, .parent-podcast .link-container a[href]:hover, .single-podcast a.link:hover, .single-podcast .link-container a[href]:hover { background-color: #ffbb00; }
.section-podcast a.link:after, .section-podcast .link-container a[href]:after, .category-podcast a.link:after, .category-podcast .link-container a[href]:after, .parent-podcast a.link:after, .parent-podcast .link-container a[href]:after, .single-podcast a.link:after, .single-podcast .link-container a[href]:after { content: url(../images/arrow_podcast.png); white-space: nowrap; padding-left: 2px; }
.section-podcast a.link:hover:after, .section-podcast .link-container a[href]:hover:after, .category-podcast a.link:hover:after, .category-podcast .link-container a[href]:hover:after, .parent-podcast a.link:hover:after, .parent-podcast .link-container a[href]:hover:after, .single-podcast a.link:hover:after, .single-podcast .link-container a[href]:hover:after { content: url(../images/arrow_hover.png); }
.section-podcast a.link-back, .section-podcast .link-container-back a[href], .category-podcast a.link-back, .category-podcast .link-container-back a[href], .parent-podcast a.link-back, .parent-podcast .link-container-back a[href], .single-podcast a.link-back, .single-podcast .link-container-back a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #ffbb00; }
.section-podcast a.link-back:hover, .section-podcast .link-container-back a[href]:hover, .category-podcast a.link-back:hover, .category-podcast .link-container-back a[href]:hover, .parent-podcast a.link-back:hover, .parent-podcast .link-container-back a[href]:hover, .single-podcast a.link-back:hover, .single-podcast .link-container-back a[href]:hover { color: #ffffff; }
.section-podcast a.link-back:hover, .section-podcast .link-container-back a[href]:hover, .category-podcast a.link-back:hover, .category-podcast .link-container-back a[href]:hover, .parent-podcast a.link-back:hover, .parent-podcast .link-container-back a[href]:hover, .single-podcast a.link-back:hover, .single-podcast .link-container-back a[href]:hover { background-color: #ffbb00; }
.section-podcast a.link-back:before, .section-podcast .link-container-back a[href]:before, .category-podcast a.link-back:before, .category-podcast .link-container-back a[href]:before, .parent-podcast a.link-back:before, .parent-podcast .link-container-back a[href]:before, .single-podcast a.link-back:before, .single-podcast .link-container-back a[href]:before { content: url(../images/arrow_podcast_back.png); white-space: nowrap; padding-right: 2px; }
.section-podcast a.link-back:hover:before, .section-podcast .link-container-back a[href]:hover:before, .category-podcast a.link-back:hover:before, .category-podcast .link-container-back a[href]:hover:before, .parent-podcast a.link-back:hover:before, .parent-podcast .link-container-back a[href]:hover:before, .single-podcast a.link-back:hover:before, .single-podcast .link-container-back a[href]:hover:before { content: url(../images/arrow_hover_back.png); }
.section-podcast a.link-down, .section-podcast .link-container-down a[href], .category-podcast a.link-down, .category-podcast .link-container-down a[href], .parent-podcast a.link-down, .parent-podcast .link-container-down a[href], .single-podcast a.link-down, .single-podcast .link-container-down a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #ffbb00; }
.section-podcast a.link-down:hover, .section-podcast .link-container-down a[href]:hover, .category-podcast a.link-down:hover, .category-podcast .link-container-down a[href]:hover, .parent-podcast a.link-down:hover, .parent-podcast .link-container-down a[href]:hover, .single-podcast a.link-down:hover, .single-podcast .link-container-down a[href]:hover { color: #ffffff; }
.section-podcast a.link-down:hover, .section-podcast .link-container-down a[href]:hover, .category-podcast a.link-down:hover, .category-podcast .link-container-down a[href]:hover, .parent-podcast a.link-down:hover, .parent-podcast .link-container-down a[href]:hover, .single-podcast a.link-down:hover, .single-podcast .link-container-down a[href]:hover { background-color: #ffbb00; }
.section-podcast a.link-down:after, .section-podcast .link-container-down a[href]:after, .category-podcast a.link-down:after, .category-podcast .link-container-down a[href]:after, .parent-podcast a.link-down:after, .parent-podcast .link-container-down a[href]:after, .single-podcast a.link-down:after, .single-podcast .link-container-down a[href]:after { content: url(../images/arrow_podcast_down.png); white-space: nowrap; padding-left: 2px; }
.section-podcast a.link-down:hover:after, .section-podcast .link-container-down a[href]:hover:after, .category-podcast a.link-down:hover:after, .category-podcast .link-container-down a[href]:hover:after, .parent-podcast a.link-down:hover:after, .parent-podcast .link-container-down a[href]:hover:after, .single-podcast a.link-down:hover:after, .single-podcast .link-container-down a[href]:hover:after { content: url(../images/arrow_hover_down.png); }

.section-podcast #logo, .category-podcast #logo, .parent-podcast #logo, .single-podcast #logo { background: #ffbb00; }

#access .podcast { background: #a67a00; }
#access .podcast:hover { background: #ffbb00; }

.section-other .aside, .section-study .aside, .section-announcement .aside, .section-event .aside, .category-other .aside, .category-study .aside, .category-announcement .aside, .category-event .aside, .parent-other .aside, .parent-study .aside, .parent-announcement .aside, .parent-event .aside { background-color: #ff7373; }
.section-other .wp-caption, .section-study .wp-caption, .section-announcement .wp-caption, .section-event .wp-caption, .section-other .thumbnail-caption, .section-study .thumbnail-caption, .section-announcement .thumbnail-caption, .section-event .thumbnail-caption, .category-other .wp-caption, .category-study .wp-caption, .category-announcement .wp-caption, .category-event .wp-caption, .category-other .thumbnail-caption, .category-study .thumbnail-caption, .category-announcement .thumbnail-caption, .category-event .thumbnail-caption, .parent-other .wp-caption, .parent-study .wp-caption, .parent-announcement .wp-caption, .parent-event .wp-caption, .parent-other .thumbnail-caption, .parent-study .thumbnail-caption, .parent-announcement .thumbnail-caption, .parent-event .thumbnail-caption { background-color: #ff7373; }
.section-other .wp-caption:before, .section-study .wp-caption:before, .section-announcement .wp-caption:before, .section-event .wp-caption:before, .section-other .wp-caption:after, .section-study .wp-caption:after, .section-announcement .wp-caption:after, .section-event .wp-caption:after, .section-other .thumbnail-caption:before, .section-study .thumbnail-caption:before, .section-announcement .thumbnail-caption:before, .section-event .thumbnail-caption:before, .section-other .thumbnail-caption:after, .section-study .thumbnail-caption:after, .section-announcement .thumbnail-caption:after, .section-event .thumbnail-caption:after, .category-other .wp-caption:before, .category-study .wp-caption:before, .category-announcement .wp-caption:before, .category-event .wp-caption:before, .category-other .wp-caption:after, .category-study .wp-caption:after, .category-announcement .wp-caption:after, .category-event .wp-caption:after, .category-other .thumbnail-caption:before, .category-study .thumbnail-caption:before, .category-announcement .thumbnail-caption:before, .category-event .thumbnail-caption:before, .category-other .thumbnail-caption:after, .category-study .thumbnail-caption:after, .category-announcement .thumbnail-caption:after, .category-event .thumbnail-caption:after, .parent-other .wp-caption:before, .parent-study .wp-caption:before, .parent-announcement .wp-caption:before, .parent-event .wp-caption:before, .parent-other .wp-caption:after, .parent-study .wp-caption:after, .parent-announcement .wp-caption:after, .parent-event .wp-caption:after, .parent-other .thumbnail-caption:before, .parent-study .thumbnail-caption:before, .parent-announcement .thumbnail-caption:before, .parent-event .thumbnail-caption:before, .parent-other .thumbnail-caption:after, .parent-study .thumbnail-caption:after, .parent-announcement .thumbnail-caption:after, .parent-event .thumbnail-caption:after { content: url(../images/img_other.png); }
.section-other .wp-caption p, .section-study .wp-caption p, .section-announcement .wp-caption p, .section-event .wp-caption p, .section-other .thumbnail-caption p, .section-study .thumbnail-caption p, .section-announcement .thumbnail-caption p, .section-event .thumbnail-caption p, .category-other .wp-caption p, .category-study .wp-caption p, .category-announcement .wp-caption p, .category-event .wp-caption p, .category-other .thumbnail-caption p, .category-study .thumbnail-caption p, .category-announcement .thumbnail-caption p, .category-event .thumbnail-caption p, .parent-other .wp-caption p, .parent-study .wp-caption p, .parent-announcement .wp-caption p, .parent-event .wp-caption p, .parent-other .thumbnail-caption p, .parent-study .thumbnail-caption p, .parent-announcement .thumbnail-caption p, .parent-event .thumbnail-caption p { z-index: 1; position: relative; }

.section-other li, .section-study li, .section-announcement li, .section-event li, .category-other li, .category-study li, .category-announcement li, .category-event li, .parent-other li, .parent-study li, .parent-announcement li, .parent-event li, .single-other .notes-external_link li, .page .notes-external_link li, .single-study .notes-external_link li, .single-announcement .notes-external_link li, .single-event .notes-external_link li, .single-other .entry-content li, .page .entry-content li, .single-study .entry-content li, .single-announcement .entry-content li, .single-event .entry-content li { list-style: url(../images/bullet_other.png) inside; }

.section-other a.link, .section-study a.link, .section-announcement a.link, .section-event a.link, .section-other .link-container a[href], .section-study .link-container a[href], .section-announcement .link-container a[href], .section-event .link-container a[href], .category-other a.link, .category-study a.link, .category-announcement a.link, .category-event a.link, .category-other .link-container a[href], .category-study .link-container a[href], .category-announcement .link-container a[href], .category-event .link-container a[href], .parent-other a.link, .parent-study a.link, .parent-announcement a.link, .parent-event a.link, .parent-other .link-container a[href], .parent-study .link-container a[href], .parent-announcement .link-container a[href], .parent-event .link-container a[href], .single-other a.link, .page a.link, .single-study a.link, .single-announcement a.link, .single-event a.link, .single-other .link-container a[href], .page .link-container a[href], .single-study .link-container a[href], .single-announcement .link-container a[href], .single-event .link-container a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: red; }
.section-other a.link:hover, .section-study a.link:hover, .section-announcement a.link:hover, .section-event a.link:hover, .section-other .link-container a[href]:hover, .section-study .link-container a[href]:hover, .section-announcement .link-container a[href]:hover, .section-event .link-container a[href]:hover, .category-other a.link:hover, .category-study a.link:hover, .category-announcement a.link:hover, .category-event a.link:hover, .category-other .link-container a[href]:hover, .category-study .link-container a[href]:hover, .category-announcement .link-container a[href]:hover, .category-event .link-container a[href]:hover, .parent-other a.link:hover, .parent-study a.link:hover, .parent-announcement a.link:hover, .parent-event a.link:hover, .parent-other .link-container a[href]:hover, .parent-study .link-container a[href]:hover, .parent-announcement .link-container a[href]:hover, .parent-event .link-container a[href]:hover, .single-other a.link:hover, .page a.link:hover, .single-study a.link:hover, .single-announcement a.link:hover, .single-event a.link:hover, .single-other .link-container a[href]:hover, .page .link-container a[href]:hover, .single-study .link-container a[href]:hover, .single-announcement .link-container a[href]:hover, .single-event .link-container a[href]:hover { color: #ffffff; }
.section-other a.link:hover, .section-study a.link:hover, .section-announcement a.link:hover, .section-event a.link:hover, .section-other .link-container a[href]:hover, .section-study .link-container a[href]:hover, .section-announcement .link-container a[href]:hover, .section-event .link-container a[href]:hover, .category-other a.link:hover, .category-study a.link:hover, .category-announcement a.link:hover, .category-event a.link:hover, .category-other .link-container a[href]:hover, .category-study .link-container a[href]:hover, .category-announcement .link-container a[href]:hover, .category-event .link-container a[href]:hover, .parent-other a.link:hover, .parent-study a.link:hover, .parent-announcement a.link:hover, .parent-event a.link:hover, .parent-other .link-container a[href]:hover, .parent-study .link-container a[href]:hover, .parent-announcement .link-container a[href]:hover, .parent-event .link-container a[href]:hover, .single-other a.link:hover, .page a.link:hover, .single-study a.link:hover, .single-announcement a.link:hover, .single-event a.link:hover, .single-other .link-container a[href]:hover, .page .link-container a[href]:hover, .single-study .link-container a[href]:hover, .single-announcement .link-container a[href]:hover, .single-event .link-container a[href]:hover { background-color: red; }
.section-other a.link:after, .section-study a.link:after, .section-announcement a.link:after, .section-event a.link:after, .section-other .link-container a[href]:after, .section-study .link-container a[href]:after, .section-announcement .link-container a[href]:after, .section-event .link-container a[href]:after, .category-other a.link:after, .category-study a.link:after, .category-announcement a.link:after, .category-event a.link:after, .category-other .link-container a[href]:after, .category-study .link-container a[href]:after, .category-announcement .link-container a[href]:after, .category-event .link-container a[href]:after, .parent-other a.link:after, .parent-study a.link:after, .parent-announcement a.link:after, .parent-event a.link:after, .parent-other .link-container a[href]:after, .parent-study .link-container a[href]:after, .parent-announcement .link-container a[href]:after, .parent-event .link-container a[href]:after, .single-other a.link:after, .page a.link:after, .single-study a.link:after, .single-announcement a.link:after, .single-event a.link:after, .single-other .link-container a[href]:after, .page .link-container a[href]:after, .single-study .link-container a[href]:after, .single-announcement .link-container a[href]:after, .single-event .link-container a[href]:after { content: url(../images/arrow_other.png); white-space: nowrap; padding-left: 2px; }
.section-other a.link:hover:after, .section-study a.link:hover:after, .section-announcement a.link:hover:after, .section-event a.link:hover:after, .section-other .link-container a[href]:hover:after, .section-study .link-container a[href]:hover:after, .section-announcement .link-container a[href]:hover:after, .section-event .link-container a[href]:hover:after, .category-other a.link:hover:after, .category-study a.link:hover:after, .category-announcement a.link:hover:after, .category-event a.link:hover:after, .category-other .link-container a[href]:hover:after, .category-study .link-container a[href]:hover:after, .category-announcement .link-container a[href]:hover:after, .category-event .link-container a[href]:hover:after, .parent-other a.link:hover:after, .parent-study a.link:hover:after, .parent-announcement a.link:hover:after, .parent-event a.link:hover:after, .parent-other .link-container a[href]:hover:after, .parent-study .link-container a[href]:hover:after, .parent-announcement .link-container a[href]:hover:after, .parent-event .link-container a[href]:hover:after, .single-other a.link:hover:after, .page a.link:hover:after, .single-study a.link:hover:after, .single-announcement a.link:hover:after, .single-event a.link:hover:after, .single-other .link-container a[href]:hover:after, .page .link-container a[href]:hover:after, .single-study .link-container a[href]:hover:after, .single-announcement .link-container a[href]:hover:after, .single-event .link-container a[href]:hover:after { content: url(../images/arrow_hover.png); }
.section-other a.link-back, .section-study a.link-back, .section-announcement a.link-back, .section-event a.link-back, .section-other .link-container-back a[href], .section-study .link-container-back a[href], .section-announcement .link-container-back a[href], .section-event .link-container-back a[href], .category-other a.link-back, .category-study a.link-back, .category-announcement a.link-back, .category-event a.link-back, .category-other .link-container-back a[href], .category-study .link-container-back a[href], .category-announcement .link-container-back a[href], .category-event .link-container-back a[href], .parent-other a.link-back, .parent-study a.link-back, .parent-announcement a.link-back, .parent-event a.link-back, .parent-other .link-container-back a[href], .parent-study .link-container-back a[href], .parent-announcement .link-container-back a[href], .parent-event .link-container-back a[href], .single-other a.link-back, .page a.link-back, .single-study a.link-back, .single-announcement a.link-back, .single-event a.link-back, .single-other .link-container-back a[href], .page .link-container-back a[href], .single-study .link-container-back a[href], .single-announcement .link-container-back a[href], .single-event .link-container-back a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: red; }
.section-other a.link-back:hover, .section-study a.link-back:hover, .section-announcement a.link-back:hover, .section-event a.link-back:hover, .section-other .link-container-back a[href]:hover, .section-study .link-container-back a[href]:hover, .section-announcement .link-container-back a[href]:hover, .section-event .link-container-back a[href]:hover, .category-other a.link-back:hover, .category-study a.link-back:hover, .category-announcement a.link-back:hover, .category-event a.link-back:hover, .category-other .link-container-back a[href]:hover, .category-study .link-container-back a[href]:hover, .category-announcement .link-container-back a[href]:hover, .category-event .link-container-back a[href]:hover, .parent-other a.link-back:hover, .parent-study a.link-back:hover, .parent-announcement a.link-back:hover, .parent-event a.link-back:hover, .parent-other .link-container-back a[href]:hover, .parent-study .link-container-back a[href]:hover, .parent-announcement .link-container-back a[href]:hover, .parent-event .link-container-back a[href]:hover, .single-other a.link-back:hover, .page a.link-back:hover, .single-study a.link-back:hover, .single-announcement a.link-back:hover, .single-event a.link-back:hover, .single-other .link-container-back a[href]:hover, .page .link-container-back a[href]:hover, .single-study .link-container-back a[href]:hover, .single-announcement .link-container-back a[href]:hover, .single-event .link-container-back a[href]:hover { color: #ffffff; }
.section-other a.link-back:hover, .section-study a.link-back:hover, .section-announcement a.link-back:hover, .section-event a.link-back:hover, .section-other .link-container-back a[href]:hover, .section-study .link-container-back a[href]:hover, .section-announcement .link-container-back a[href]:hover, .section-event .link-container-back a[href]:hover, .category-other a.link-back:hover, .category-study a.link-back:hover, .category-announcement a.link-back:hover, .category-event a.link-back:hover, .category-other .link-container-back a[href]:hover, .category-study .link-container-back a[href]:hover, .category-announcement .link-container-back a[href]:hover, .category-event .link-container-back a[href]:hover, .parent-other a.link-back:hover, .parent-study a.link-back:hover, .parent-announcement a.link-back:hover, .parent-event a.link-back:hover, .parent-other .link-container-back a[href]:hover, .parent-study .link-container-back a[href]:hover, .parent-announcement .link-container-back a[href]:hover, .parent-event .link-container-back a[href]:hover, .single-other a.link-back:hover, .page a.link-back:hover, .single-study a.link-back:hover, .single-announcement a.link-back:hover, .single-event a.link-back:hover, .single-other .link-container-back a[href]:hover, .page .link-container-back a[href]:hover, .single-study .link-container-back a[href]:hover, .single-announcement .link-container-back a[href]:hover, .single-event .link-container-back a[href]:hover { background-color: red; }
.section-other a.link-back:before, .section-study a.link-back:before, .section-announcement a.link-back:before, .section-event a.link-back:before, .section-other .link-container-back a[href]:before, .section-study .link-container-back a[href]:before, .section-announcement .link-container-back a[href]:before, .section-event .link-container-back a[href]:before, .category-other a.link-back:before, .category-study a.link-back:before, .category-announcement a.link-back:before, .category-event a.link-back:before, .category-other .link-container-back a[href]:before, .category-study .link-container-back a[href]:before, .category-announcement .link-container-back a[href]:before, .category-event .link-container-back a[href]:before, .parent-other a.link-back:before, .parent-study a.link-back:before, .parent-announcement a.link-back:before, .parent-event a.link-back:before, .parent-other .link-container-back a[href]:before, .parent-study .link-container-back a[href]:before, .parent-announcement .link-container-back a[href]:before, .parent-event .link-container-back a[href]:before, .single-other a.link-back:before, .page a.link-back:before, .single-study a.link-back:before, .single-announcement a.link-back:before, .single-event a.link-back:before, .single-other .link-container-back a[href]:before, .page .link-container-back a[href]:before, .single-study .link-container-back a[href]:before, .single-announcement .link-container-back a[href]:before, .single-event .link-container-back a[href]:before { content: url(../images/arrow_other_back.png); white-space: nowrap; padding-right: 2px; }
.section-other a.link-back:hover:before, .section-study a.link-back:hover:before, .section-announcement a.link-back:hover:before, .section-event a.link-back:hover:before, .section-other .link-container-back a[href]:hover:before, .section-study .link-container-back a[href]:hover:before, .section-announcement .link-container-back a[href]:hover:before, .section-event .link-container-back a[href]:hover:before, .category-other a.link-back:hover:before, .category-study a.link-back:hover:before, .category-announcement a.link-back:hover:before, .category-event a.link-back:hover:before, .category-other .link-container-back a[href]:hover:before, .category-study .link-container-back a[href]:hover:before, .category-announcement .link-container-back a[href]:hover:before, .category-event .link-container-back a[href]:hover:before, .parent-other a.link-back:hover:before, .parent-study a.link-back:hover:before, .parent-announcement a.link-back:hover:before, .parent-event a.link-back:hover:before, .parent-other .link-container-back a[href]:hover:before, .parent-study .link-container-back a[href]:hover:before, .parent-announcement .link-container-back a[href]:hover:before, .parent-event .link-container-back a[href]:hover:before, .single-other a.link-back:hover:before, .page a.link-back:hover:before, .single-study a.link-back:hover:before, .single-announcement a.link-back:hover:before, .single-event a.link-back:hover:before, .single-other .link-container-back a[href]:hover:before, .page .link-container-back a[href]:hover:before, .single-study .link-container-back a[href]:hover:before, .single-announcement .link-container-back a[href]:hover:before, .single-event .link-container-back a[href]:hover:before { content: url(../images/arrow_hover_back.png); }
.section-other a.link-down, .section-study a.link-down, .section-announcement a.link-down, .section-event a.link-down, .section-other .link-container-down a[href], .section-study .link-container-down a[href], .section-announcement .link-container-down a[href], .section-event .link-container-down a[href], .category-other a.link-down, .category-study a.link-down, .category-announcement a.link-down, .category-event a.link-down, .category-other .link-container-down a[href], .category-study .link-container-down a[href], .category-announcement .link-container-down a[href], .category-event .link-container-down a[href], .parent-other a.link-down, .parent-study a.link-down, .parent-announcement a.link-down, .parent-event a.link-down, .parent-other .link-container-down a[href], .parent-study .link-container-down a[href], .parent-announcement .link-container-down a[href], .parent-event .link-container-down a[href], .single-other a.link-down, .page a.link-down, .single-study a.link-down, .single-announcement a.link-down, .single-event a.link-down, .single-other .link-container-down a[href], .page .link-container-down a[href], .single-study .link-container-down a[href], .single-announcement .link-container-down a[href], .single-event .link-container-down a[href] { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: red; }
.section-other a.link-down:hover, .section-study a.link-down:hover, .section-announcement a.link-down:hover, .section-event a.link-down:hover, .section-other .link-container-down a[href]:hover, .section-study .link-container-down a[href]:hover, .section-announcement .link-container-down a[href]:hover, .section-event .link-container-down a[href]:hover, .category-other a.link-down:hover, .category-study a.link-down:hover, .category-announcement a.link-down:hover, .category-event a.link-down:hover, .category-other .link-container-down a[href]:hover, .category-study .link-container-down a[href]:hover, .category-announcement .link-container-down a[href]:hover, .category-event .link-container-down a[href]:hover, .parent-other a.link-down:hover, .parent-study a.link-down:hover, .parent-announcement a.link-down:hover, .parent-event a.link-down:hover, .parent-other .link-container-down a[href]:hover, .parent-study .link-container-down a[href]:hover, .parent-announcement .link-container-down a[href]:hover, .parent-event .link-container-down a[href]:hover, .single-other a.link-down:hover, .page a.link-down:hover, .single-study a.link-down:hover, .single-announcement a.link-down:hover, .single-event a.link-down:hover, .single-other .link-container-down a[href]:hover, .page .link-container-down a[href]:hover, .single-study .link-container-down a[href]:hover, .single-announcement .link-container-down a[href]:hover, .single-event .link-container-down a[href]:hover { color: #ffffff; }
.section-other a.link-down:hover, .section-study a.link-down:hover, .section-announcement a.link-down:hover, .section-event a.link-down:hover, .section-other .link-container-down a[href]:hover, .section-study .link-container-down a[href]:hover, .section-announcement .link-container-down a[href]:hover, .section-event .link-container-down a[href]:hover, .category-other a.link-down:hover, .category-study a.link-down:hover, .category-announcement a.link-down:hover, .category-event a.link-down:hover, .category-other .link-container-down a[href]:hover, .category-study .link-container-down a[href]:hover, .category-announcement .link-container-down a[href]:hover, .category-event .link-container-down a[href]:hover, .parent-other a.link-down:hover, .parent-study a.link-down:hover, .parent-announcement a.link-down:hover, .parent-event a.link-down:hover, .parent-other .link-container-down a[href]:hover, .parent-study .link-container-down a[href]:hover, .parent-announcement .link-container-down a[href]:hover, .parent-event .link-container-down a[href]:hover, .single-other a.link-down:hover, .page a.link-down:hover, .single-study a.link-down:hover, .single-announcement a.link-down:hover, .single-event a.link-down:hover, .single-other .link-container-down a[href]:hover, .page .link-container-down a[href]:hover, .single-study .link-container-down a[href]:hover, .single-announcement .link-container-down a[href]:hover, .single-event .link-container-down a[href]:hover { background-color: red; }
.section-other a.link-down:after, .section-study a.link-down:after, .section-announcement a.link-down:after, .section-event a.link-down:after, .section-other .link-container-down a[href]:after, .section-study .link-container-down a[href]:after, .section-announcement .link-container-down a[href]:after, .section-event .link-container-down a[href]:after, .category-other a.link-down:after, .category-study a.link-down:after, .category-announcement a.link-down:after, .category-event a.link-down:after, .category-other .link-container-down a[href]:after, .category-study .link-container-down a[href]:after, .category-announcement .link-container-down a[href]:after, .category-event .link-container-down a[href]:after, .parent-other a.link-down:after, .parent-study a.link-down:after, .parent-announcement a.link-down:after, .parent-event a.link-down:after, .parent-other .link-container-down a[href]:after, .parent-study .link-container-down a[href]:after, .parent-announcement .link-container-down a[href]:after, .parent-event .link-container-down a[href]:after, .single-other a.link-down:after, .page a.link-down:after, .single-study a.link-down:after, .single-announcement a.link-down:after, .single-event a.link-down:after, .single-other .link-container-down a[href]:after, .page .link-container-down a[href]:after, .single-study .link-container-down a[href]:after, .single-announcement .link-container-down a[href]:after, .single-event .link-container-down a[href]:after { content: url(../images/arrow_other_down.png); white-space: nowrap; padding-left: 2px; }
.section-other a.link-down:hover:after, .section-study a.link-down:hover:after, .section-announcement a.link-down:hover:after, .section-event a.link-down:hover:after, .section-other .link-container-down a[href]:hover:after, .section-study .link-container-down a[href]:hover:after, .section-announcement .link-container-down a[href]:hover:after, .section-event .link-container-down a[href]:hover:after, .category-other a.link-down:hover:after, .category-study a.link-down:hover:after, .category-announcement a.link-down:hover:after, .category-event a.link-down:hover:after, .category-other .link-container-down a[href]:hover:after, .category-study .link-container-down a[href]:hover:after, .category-announcement .link-container-down a[href]:hover:after, .category-event .link-container-down a[href]:hover:after, .parent-other a.link-down:hover:after, .parent-study a.link-down:hover:after, .parent-announcement a.link-down:hover:after, .parent-event a.link-down:hover:after, .parent-other .link-container-down a[href]:hover:after, .parent-study .link-container-down a[href]:hover:after, .parent-announcement .link-container-down a[href]:hover:after, .parent-event .link-container-down a[href]:hover:after, .single-other a.link-down:hover:after, .page a.link-down:hover:after, .single-study a.link-down:hover:after, .single-announcement a.link-down:hover:after, .single-event a.link-down:hover:after, .single-other .link-container-down a[href]:hover:after, .page .link-container-down a[href]:hover:after, .single-study .link-container-down a[href]:hover:after, .single-announcement .link-container-down a[href]:hover:after, .single-event .link-container-down a[href]:hover:after { content: url(../images/arrow_hover_down.png); }

.section-other #logo, .section-study #logo, .section-announcement #logo, .section-event #logo, .category-other #logo, .category-study #logo, .category-announcement #logo, .category-event #logo, .parent-other #logo, .parent-study #logo, .parent-announcement #logo, .parent-event #logo, .single-other #logo, .page #logo, .single-study #logo, .single-announcement #logo, .single-event #logo { background: red; }

#access .other, #access .study, #access .announcement, #access .event { background: #a60000; }
#access .other:hover, #access .study:hover, #access .announcement:hover, #access .event:hover { background: red; }

.single h1, .page h1, .single h2, .page h2, .single #nav-below h3, .page #nav-below h3, .section h1, .section h2, .section #nav-below h3, .archive h1, .archive h2, .archive #nav-below h3, .error404 h1, .error404 h2, .error404 #nav-below h3, .search h1, .search h2, .search #nav-below h3 { position: relative; }
.single h1 img, .page h1 img, .single h2 img, .page h2 img, .single #nav-below h3 img, .page #nav-below h3 img, .section h1 img, .section h2 img, .section #nav-below h3 img, .archive h1 img, .archive h2 img, .archive #nav-below h3 img, .error404 h1 img, .error404 h2 img, .error404 #nav-below h3 img, .search h1 img, .search h2 img, .search #nav-below h3 img { position: absolute !important; height: 100% !important; max-height: none !important; max-width: none !important; z-index: -1; }

#article .post { float: none; }

#author-avatar img { float: right; }

table td { padding: 0 3px; }

.infoDisplay td + td { text-align: right; }

.bleed-right img { left: 0; top: 0; }

.bleed-left img, .bleed-switch img, .bleed-switch2 img { right: 0; top: 0; }

.aside { padding: 7px; margin: 7px; }

.addthis_toolbox { float: right; }

.licence { clear: both; padding-top: 14px; }

#searchForm { text-align: center; }
#searchForm form { margin-top: 14px; }
#searchForm label { display: none; }

/* Stuff for the 1 column layout that will mostly get overwritten */
.extract img { max-width: 100%; height: auto; }

#page { max-width: 454px; margin: 0 auto; padding: 0 14px; }

#nav-below div { text-align: center; }

.entry-thumbnail { text-align: center; margin-bottom: 14px; }

#access { max-width: 227px; margin: 14px auto; }

#access a { display: block; width: 100%; }

#access li, h1, .single h2, .page h2, #nav-below h3 { padding: 2px 21px 2px 7px; }

h1, .single h2, .page h2, #nav-below h3 { max-width: 202px; margin: 14px auto; }

.post, .articles, .twitter-timeline { margin: 14px auto; }

.twitter-timeline { display: block; }

#logo { margin: 14px auto; }

.single #content .post img, .page #content .post img, #author-avatar img { max-width: 100%; height: auto; margin: auto; display: block; }

.wp-caption, .thumbnail-caption { margin: auto; position: relative; overflow: hidden; line-height: 0; max-width: 100%; height: auto; }
.wp-caption img, .thumbnail-caption img { width: 100%; }
.wp-caption p, .wp-caption br, .thumbnail-caption p, .thumbnail-caption br { line-height: 21px; margin: 0; padding: 2px; }
.wp-caption:before, .thumbnail-caption:before { position: absolute; left: 0; top: 0; }
.wp-caption:after, .thumbnail-caption:after { position: absolute; right: 0; top: 0; }

.notes-external_link { line-height: 21px; margin: 0; padding: 2px; }

.thumbnail-caption { display: inline-block; }

label { display: block; }
