#page { width: 440px; max-width: none; margin: 0 auto; padding: 0 14px; }

.post, .articles, .category-archive-meta, #author-info, #comments { float: left; }

.main img { float: left; margin-right: 14px; }

.posts .post, .posts .articles, .archive .post, .archive .articles, .search .post, .search .articles, #latest .post, #latest .articles, #other .post, #other .articles { width: 213px; max-width: none; margin: 14px 0; padding: 0; }
.posts .twitter-timeline, .archive .twitter-timeline, .search .twitter-timeline, #latest .twitter-timeline, #other .twitter-timeline { width: 440px; max-width: none; margin: 14px auto; padding: 0; }
.posts .main, .archive .main, .search .main, #latest .main, #other .main { width: 440px; }
.posts .left, .archive .left, .search .left, #latest .left, #other .left { margin-right: 14px; }
.posts .clear2, .archive .clear2, .search .clear2, #latest .clear2, #other .clear2 { clear: left; margin-right: 14px; }

.row, .clear { clear: both; }

#logo { margin: 14px 0; float: left; }

#searchForm { clear: both; text-align: left; }

h1, .single h2, .page h2, #nav-below h3 { width: 213px; max-width: none; margin: 14px 0; }

#nav-below .nav-previous { float: left; }

#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }

#access { margin: 0 auto; width: 150px; position: relative; float: right; overflow-y: visible; }
#access:before { content: url(../images/cap_left.png); position: absolute; bottom: 0; left: 0; }
#access:after { content: ""; }
#access li { padding: 0; }
#access li a { position: relative; left: 30px; background-color: inherit; padding: 2px 0; }
#access li a:after { content: ""; position: absolute; width: 1000px; height: 100%; z-index: -1; background-color: inherit; left: 50px; top: 0; }
